<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- vou ter que remover este caminho pois é da minha maquina -->
    <add key="diretorioxml" value="D:\projetos\TesteImposto\TesteImposto\src\TesteImposto.UI\xml\notafiscal.xml"/>
  </appSettings>
</configuration>